.mortgage-calculator {
    max-width: 1008px;
    min-height: 606px;

    // Be sure to nest any custom classes on child elements to avoid conflicts
    .row {
        min-height: 100%;
    }


    @font-face {
        font-family: 'medium';
        src: url('/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'bold';
        src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .head {
        padding: 10%;
    }

    .head h4 {
        color: #133041;
        ;
        font-family: 'bold';
    }

    .mortgageAmount {
        padding-left: 10%;
        color: #4E6E7E;
    }

    .mortgageTermInt {
        padding-left: 10%;
        color: #4E6E7E;
    }

    .interestRate {
        padding: 5%;
    }

    .mortgageType {
        color: #4E6E7E;
        padding-left: 10%;
        padding-bottom: 10%;
    }

    .mortgageType span {
        color: #133041;
        font-family: 'bold';
    }

    .calcButton {
        padding-left: 10%;
    }

    .result {
        font-family: 'medium', sans-serif;
        text-align: left;
        background-color: #133041;
        min-height: 100%;
        padding-top: 10%;
        padding-left: 7%;
        padding-right: 7%;
        border-radius: 0px 15px 15px 75px;
    }

    .resultBox {
        background-color: #0e222e;
        border-radius: 20px 20px 15px 15px;
        width: 100%;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 10%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }

    .resultBox h5 {
        padding-top: 10%; /* Adjust as needed */
    }
    .resultBox::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1.5%;
        background-color: #D8DB2F;
    }

    .resultBox::after {
        content: '';
        position: absolute;
        top: 55%;
        left: 7.5%;
        width: 85%;
        height: 1px;
        background-color: #4E6E7E;
        transform: translateY(-50%);
        z-index: 1;
    }

    .result h1 {
        color: #D8DB2F;
        font-size: 3.8rem;
    }

    .result h4 {
        color: white;
    }

    .result h5 {
        white-space: nowrap;
        color: #6B94A8;
    }

    .result p {
        color: #6B94A8;
    }

    .resultEmpty {
        font-family: 'medium', sans-serif;
        text-align: center;
        min-height: 100%;
        color: white;
        background-color: #133041;
        padding-top: 30%;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 0px 15px 15px 75px;
    }

    .resultEmpty p {
        color: #6B94A8;
    }

    input[type="radio"] {
        font-family: 'bold', sans-serif;
        margin-right: 5px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    button {
        padding: 0;
        border: none;
        background: none;
        stroke: none;
        outline: none;
    }

    .calcButton {}

    .error-container {
        font-family: 'medium', sans-serif;
        height: 20px;
        color: red;
        font-size: 0.8rem;
        display: block;
    }
}