.mortgage-calculator {
    max-width: 1008px;
    min-height: 606px;

    // Be sure to nest any custom classes on child elements to avoid conflicts
    .row {
        min-height: 100%;
    }


    @font-face {
        font-family: 'medium';
        src: url('/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'bold';
        src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .head {
        padding: 10%;
    }

    .head h4 {
        color: #133041;
        font-family: 'bold';
    }

    .mortgageAmount {
        padding-left: 10%;
        color: #4E6E7E;
        position: relative;
        width: fit-content;
    }

    .inputMortgageAmount {
        font-family: 'bold';
        color: #133041;
        width: 137.5%;
        height: 40px; 
        font-size: 20px; 
        padding: 0px 30px; 
        border-radius: 4px, 4px, 4px, 4px;
        border: 1px solid #6B94A8;
        text-align: left;
    }

    .prefixMortgageAmount {
        font-family: 'bold';
        position: absolute;
        top: 56.5%;
        left: 50px;
        transform: translateY(-50%);
        background-color: #E4F4FD;
        padding: 4px 5px;
        border-radius: 4px 4px 4px 4px;
        font-size: 20px;
        z-index: 1;
    }

    .mortgageTermInt {
        padding-left: 10%;
        color: #4E6E7E;
    }

    .mortgageTerm {
        position: relative;
        width: fit-content;
    }

    .inputTermInt {
        font-family: 'bold';
        color: #133041;
        width: 100%;
        height: 40px; 
        font-size: 20px; 
        padding: 0 10px; 
        border-radius: 4px, 4px, 4px, 4px;
        border: 1px solid #6B94A8;
    }

    .suffixMortgageTerm {
        font-family: 'bold';
        position: absolute;
        top: 56.5%;
        right: 1px;
        transform: translateY(-50%);
        background-color: #E4F4FD;
        padding: 4px 6px;
        border-radius: 4px 4px 4px 4px;
        font-size: 20px;
        z-index: 1;
    }

    .interestRate {
        padding: 5%;
        position: relative;
        width: fit-content;
    }

    .suffixInterestRate {
        font-family: 'bold';
        position: absolute;
        top: 54%;
        right: 23px;
        transform: translateY(-50%);
        background-color: #E4F4FD;
        padding: 4px 6px;
        border-radius: 4px 4px 4px 4px;
        font-size: 20px;
        z-index: 1;
    }

    .mortgageType {
        color: #4E6E7E;
        padding-left: 10%;
        padding-bottom: 10%;
    }


    .mortgageType span {
        color: #133041;
        font-family: 'bold';
        cursor: pointer;
    }

    .calcButton {
        padding-left: 10%;
    }

    .result {
        font-family: 'medium', sans-serif;
        text-align: left;
        background-color: #133041;
        min-height: 100%;
        padding-top: 10%;
        padding-left: 7%;
        padding-right: 7%;
        border-radius: 0px 15px 15px 75px;
    }

    .resultBox {
        background-color: #0e222e;
        border-radius: 20px 20px 15px 15px;
        width: 100%;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 10%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }

    .resultBox h5 {
        padding-top: 10%;
    }

    .resultBox::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1.5%;
        background-color: #D8DB2F;
    }

    .resultBox::after {
        content: '';
        position: absolute;
        top: 55%;
        left: 7.5%;
        width: 85%;
        height: 1px;
        background-color: #4E6E7E;
        transform: translateY(-50%);
        z-index: 1;
    }

    .result h1 {
        color: #D8DB2F;
        font-size: 3.8rem;
    }

    .result h4 {
        color: white;
    }

    .result h5 {
        white-space: nowrap;
        color: #6B94A8;
    }

    .result p {
        color: #6B94A8;
    }

    .resultEmpty {
        font-family: 'medium', sans-serif;
        text-align: center;
        min-height: 100%;
        color: white;
        background-color: #133041;
        padding-top: 30%;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 0px 15px 15px 75px;
    }

    .resultEmpty p {
        color: #6B94A8;
    }

    .radioRepayment {
        font-family: 'bold', sans-serif;
        font-size: 20px;
        border: 1px solid #6B94A8;
        border-radius: 8px; 
        padding: 10px;
        display: flex;
        gap: 10px;
        cursor: pointer;
    }

    .radioRepayment:hover {
        border-color: #D8DB2F;
    }

    .radioInterest {
        font-size: 20px;
        border: 1px solid #6B94A8;
        border-radius: 8px; 
        padding: 10px;
        display: flex;
        gap: 10px;
        cursor: pointer;
    }

    .radioInterest:hover {
        border-color: #D8DB2F;
    }

    input[type="radio"] {
        transform: scale(1.5);
        margin-left: 10px;
        margin-right: 20px;
        cursor: pointer;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        cursor: pointer;
    }

    .calcButton {
        padding-bottom: 50px;
    }

    button {
        padding: 0;
        border: none;
        background: none;
        stroke: none;
        outline: none;
    }

    .error-container {
        font-family: 'medium', sans-serif;
        height: 20px;
        color: red;
        font-size: 0.8rem;
        display: block;
    }
}