.mortgage-calculator {
    max-width: 1008px;
    min-height: 606px;
    // Be sure to nest any custom classes on child elements to avoid conflicts
    .section {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    input[type="radio"] {
        margin-right: 5px;
    }
}